services:
  splitter:
    build: .
    command: ["node", "app.js", "splitter"]
    hostname: splitter
    ports:
      - "9997"
    depends_on:
      - monitor_1
      - monitor_2
    networks:
      - cribl-network

  monitor_1:
    build: .
    command: ["node", "monitor.js", "1"]
    hostname: target_1
    ports:
      - "9997"
    depends_on:
      - target_1
    networks:
      - cribl-network
    volumes:
      - app:/app

  monitor_2:
    build: .
    command: ["node", "monitor.js", "2"]
    hostname: target_2
    ports:
      - "9997"
    depends_on:
      - target_2
    networks:
      - cribl-network
    volumes:
      - app:/app

  target_1:
    build: .
    command: ["node", "app.js", "target"]
    hostname: tgt_1
    ports:
      - "9987"
    networks:
      - cribl-network
    volumes:
      - app:/app

  target_2:
    build: .
    command: ["node", "app.js", "target"]
    hostname: tgt_2
    ports:
      - "9987"
    networks:
      - cribl-network
    volumes:
      - app:/app

  test:
    build: .
    # Run unit tests using built-in node test runner, and integration tests using Jest.
    # NOTE: Integration tests will NOT be run if the unit tests fail (due to using '&&').
    command: >
      sh -c "node --test-reporter=spec --test-reporter=junit --test-reporter-destination=stdout --test-reporter-destination=allure-results/report.xml --test test/unit/* ||
      npm test -- --testPathPatterns=integration"
    ports:
      - "9997"
    environment:
      # Avoid Node.js v25.x Warning: `--localstorage-file` was provided without a valid path
      NODE_OPTIONS: --no-experimental-webstorage
    depends_on:
      - splitter
    networks:
      - cribl-network
    volumes:
      - app:/app

networks:
  cribl-network:
    driver: bridge  # Allow all nodes to connect.

volumes:
  app:  # Enable sharing of output files & Allure report.
