services:
  splitter:
    build: .
    command: ["node", "app.js", "splitter"]
    ports:
      - "9997"
    environment:
      NODE_ENV: splitter
    depends_on:
      - target_1
      - target_2
    networks:
      - cribl-network

  target_1:
    build: .
    command: ["node", "app.js", "target_1"]
    ports:
      - "9997"
    environment:
      NODE_ENV: target_1
    networks:
      - cribl-network

  target_2:
    build: .
    command: ["node", "app.js", "target_2"]
    ports:
      - "9997"
    environment:
      NODE_ENV: target_2
    networks:
      - cribl-network

  test:
    build: .
    command:
      - node --test test/unit/*  # Run unit tests.
      - npm test -- --testPathPatterns=integration  # Run integration tests.
    ports:
      - "9997"
    environment:
      NODE_ENV: test
    depends_on:
      - splitter
    networks:
      - cribl-network

networks:
  cribl-network:
    driver: bridge  # Allow all nodes to connect.
