services:
  splitter:
    build: .
    command: ["node", "app.js", "splitter"]
    hostname: splitter
    ports:
      - "9997"
    depends_on:
      - target_1
      - target_2
    networks:
      - cribl-network

  target_1:
    build: .
    command: ["node", "app.js", "target"]
    hostname: target_1
    ports:
      - "9997"
    networks:
      - cribl-network
    volumes:
      - app:/app

  target_2:
    build: .
    command: ["node", "app.js", "target"]
    hostname: target_2
    ports:
      - "9997"
    networks:
      - cribl-network
    volumes:
      - app:/app

  test-agent:
    build: .
    # Run unit tests using built-in node test runner, and integration tests using Jest.
    # NOTE: Integration tests will NOT be run if the unit tests fail (due to using '&&').
    command: >
      sh -c "node --test test/unit/* &&
      npm test -- --testPathPatterns=integration"
    ports:
      - "9997"
    environment:
      # Avoid Node.js v25.x Warning: `--localstorage-file` was provided without a valid path
      NODE_OPTIONS: --no-experimental-webstorage
    depends_on:
      - splitter
    networks:
      - cribl-network
    volumes:
      - app:/app

networks:
  cribl-network:
    driver: bridge  # Allow all nodes to connect.

volumes:
  app:
