services:
  splitter:
    build: .
    command: ["node", "app.js", "splitter"]
    hostname: splitter
    ports:
      - "9997"
    depends_on:
      - target_1
      - target_2
    networks:
      - cribl-network

  target_1:
    build: .
    command: ["node", "app.js", "target"]
    hostname: target_1
    ports:
      - "9997"
    networks:
      - cribl-network

  target_2:
    build: .
    command: ["node", "app.js", "target"]
    hostname: target_2
    ports:
      - "9997"
    networks:
      - cribl-network

  test:
    build: .
    # Run unit tests using built-in node test runner, and integration tests using Jest.
    # NOTE: Integration tests will NOT be run if the unit tests fail (due to using '&&').
    command: >
      sh -c "node --test test/unit/* &&
      npm test -- --testPathPatterns=integration"
    ports:
      - "9997"
    environment:
      NODE_ENV: test
    depends_on:
      - splitter
    networks:
      - cribl-network

networks:
  cribl-network:
    driver: bridge  # Allow all nodes to connect.
